<router-outlet></router-outlet>
<div class="container">
<h1>Match Password Validation</h1>

<form [formGroup]="registrationFormGroup" (ngSubmit)="onClickRegister()">

    <div class="form-group">
        <label for="usernamme">Username</label>
        <input class="form-control" type="text" name="username" formControlName="username"/>
    </div>
    <p class="bg-danger" *ngIf="registrationFormGroup.controls.username.errors?.required && registrationFormGroup.controls.username.touched">Username is required</p>

    <div [formGroup]="passwordFormGroup">
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" formControlName="password">
        </div>
        <p class="bg-danger" *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">Password is required</p>

        <div class="form-group">
            <label for="repeatPassword">Repeat Password</label>
            <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword">
        </div>
        <p class="bg-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">Repeat password is required</p>
        <p class="bg-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>

    </div>
    <div class="form-group">
        <button class="form-control btn btn-primary" type="submit" [disabled]="!registrationFormGroup.valid" >Register</button>
    </div>

</form>

</div> 