<mat-card>
  <mat-card-header fxLayoutAlign="center start">
    <mat-card-title>
      <h2 fxLayoutAlign="center start">Please confirm</h2>
    </mat-card-title>
    <mat-card-subtitle>Are you sure you want to remove this item?</mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-actions fxLayoutAlign="center start">
    <button mat-raised-button color="primary" (click)="DelteRow()">Yes</button>
    <a mat-raised-button color="warn" (click)="onNoClick()">No</a>
  </mat-card-actions>
</mat-card>