<h3>Objective</h3>
<br>
<br>

<form novalidate (ngSubmit)="openDialog()" [formGroup]="formGroup">

    <input type="hidden" #phaseID formControlName="id" required/>

    <mat-form-field>
        <input matInput placeholder="Choose Phase" [matAutocomplete]="phaseTitle" />
    </mat-form-field>

    <mat-autocomplete #phaseTitle="matAutocomplete" (optionSelected)="phaseChanged($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let item of phaseList" [value]="item">
            {{item.Title}}
        </mat-option>
    </mat-autocomplete>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"> Add Objective </button>
    </div>

</form>