<h3>Objective</h3>
<br>
<br>

<form novalidate>
    <mat-form-field>
        <input matInput placeholder="Choose Phase" [matAutocomplete]="auto" />
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="warehouseChanged($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let item of phaseList" [value]="item">
            {{item.Title}}
        </mat-option>
    </mat-autocomplete>
</form>

<a mat-raised-button color="primary" (click)="openDialog()"> Add Objective</a>