<h3>Objective</h3>
<br>
<a mat-raised-button (click)="openDialog(myForm)"> Add Objective</a>
<br>
<br>

<form class="example-form" [formGroup]="formGroup">
    <mat-form-field>
        <input matInput placeholder="Choose option" [formControl]="myForm" [matAutocomplete]="auto" formControlName="title"/>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
            <div>{{item.cat}}</div>
        </mat-option>
    </mat-autocomplete>
</form>