.error{
  color: #f00;
}

.dragarea{
  font-size: 1.3em;
  border: 3px dashed #bbb; padding: 20px ;
  background-color: #eff;
  color: #aaa;
}
.droparea{
  font-size: 1.3em;
  border: 3px dashed #bbb; padding: 20px ;
  background-color: #eff;
  color: #aaa;
}
