// VARIABLES
$color-primary: rgb(6, 170, 214);
$color-dark: rgb(34, 45, 49);



// SIDE-NAV
.sidenav-container {
  position: absolute;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
  & .content-sidenav {
    background-color: $color-dark;
    width: 275px;
    color: white;
    padding: 1em 0 0 0;
    & button {
      width: 100%;
      text-align: left;
      line-height: 50px;
      font-size: 1em;
      font-weight: 400;
      & i {
        margin-right: 10px;
      }
    }
  }
}

.SubMenu-Styles {
  background-color: $color-dark;
  .Sub-Title {
    color: white;
    font-size: 1em;
    margin: 0;
    .toggle-icon {
      margin-left: 3em;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    width: 100%;
    &:hover {
      background-color: #1E282B;
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px;
    padding-left: 5px;
    user-select: none;
    -webkit-user-select: none;
  }
}

.main-container {
  min-height: calc(100vh - 50px);
  padding: 1em 1em 0 1em;
}

.user-name {
  width: 80px;
  & i {
    color: rgb(89, 255, 56);
  }
}
