<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav mode={{sidenavMode}} class="content-sidenav">
    <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button (click)="GoStart()" mat-menu-item>Logout</button>
    </mat-menu>
    <button class="user-name" mat-button mat-button [matMenuTriggerFor]="menu" *ngIf="media.isActive('xs')">
      {{userName}}
      <i class="fas fa-circle"></i>
    </button>
    <button mat-button (click)="goRouteLink('Home', true)">
      &nbsp;
      <i class="fas fa-home"></i>Home
    </button>
    <mat-expansion-panel class="SubMenu-Styles mat-elevation-z0" *ngIf="verifyPermission('User_View')">
      <mat-expansion-panel-header>
        <mat-panel-title class="Sub-Title">
          <i class="fas fa-users"></i> &nbsp;&nbsp; User Management
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <a (click)="goRouteLink('Users', true)"> Users</a>
        </li>
        <li>
          <a (click)="goRouteLink('Roles', true)"> Roles</a>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel class="SubMenu-Styles mat-elevation-z0" *ngIf="verifyPermission('Project_View')">
      <mat-expansion-panel-header>
        <mat-panel-title class="Sub-Title">
          <i class="fas fa-briefcase"></i> &nbsp;&nbsp; Project Management
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <a (click)="goRouteLink('Projects', true)"> Projects</a>
        </li>
        <li>
          <a (click)="goRouteLink('Objectives', true)"> Objectives</a>
        </li>
      </ul>
    </mat-expansion-panel>
    <button mat-button (click)="goRouteLink('ProjectTracking', true)" *ngIf="RoleID === 1 || RoleID === 2">
      &nbsp;
      <i class="fas fa-chart-line"></i>Project Tracking
    </button>
    <mat-expansion-panel class="SubMenu-Styles mat-elevation-z0" *ngIf="RoleID === 3">
      <mat-expansion-panel-header>
        <mat-panel-title class="Sub-Title">
          <i class="fas fa-chart-line"></i>&nbsp;&nbsp; Project Tracking
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul *ngIf="RoleID === 3">
        <mat-nav-list #Projects>
          <mat-list-item *ngFor="let project of ListProject" (click)='goRouteProjects(project)'>
            <li>
              <a matLine>{{ project.Title }}</a>
            </li>
          </mat-list-item>
        </mat-nav-list>
      </ul>

    </mat-expansion-panel>

  </mat-sidenav>
  <mat-sidenav-content class="main-container" fxLayout="column">
    <app-main-container></app-main-container>
  </mat-sidenav-content>
</mat-sidenav-container>