<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="content-sidenav">
    <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item>Logout</button>
    </mat-menu>
    <button class="user-name" mat-button mat-button [matMenuTriggerFor]="menu" *ngIf="media.isActive('xs')">
      fbfranco29
      <i class="fas fa-circle"></i>
    </button>
    <button mat-button routerLink="">
      &nbsp;
      <i class="fas fa-home"></i>Home
    </button>
    <mat-expansion-panel class="SubMenu-Styles" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="Sub-Title">
          <i class="fas fa-users"></i> &nbsp;&nbsp; User Management
          <i class="fas fa-angle-down toggle-icon" style="padding-left: 12px;"></i>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <a routerLink="/Users"> Users</a>
        </li>
        <li>
          <a routerLink="/Roles"> Roles</a>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel class="SubMenu-Styles" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="Sub-Title">
          <i class="fas fa-briefcase"></i> &nbsp;&nbsp; Project Management
          <i class="fas fa-angle-down toggle-icon"></i>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <a routerLink="/Projects"> Projects</a>
        </li>
        <li>
          <a (click)="goRouteLink('/Objectives')"> Objectives</a>
        </li>
      </ul>
    </mat-expansion-panel>
    <button mat-button (click)="goRouteLink('/ProjectTracking')">
      &nbsp;
      <i class="fas fa-chart-line"></i>Project Tracking
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="main-container" fxLayout="column">
    <app-main-container></app-main-container>
  </mat-sidenav-content>
</mat-sidenav-container>