<form novalidate (ngSubmit)="openDialog()" [formGroup]="formGroup" fxFlex.gt-xs="600px" fxLayout="row wrap" fxLayoutAlign="space-between center">

  <input type="hidden" #phaseID formControlName="id" required/>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Project" aria-label="Number" matInput [matAutocomplete]="ProjectList">
    <mat-autocomplete #ProjectList="matAutocomplete" (optionSelected)="projectChanged($event)" [displayWith]="displayProjectFn">
      <mat-option *ngFor="let Project of ListProjects" [value]="Project">
        {{ Project.Title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Phase" aria-label="Number" matInput [matAutocomplete]="PhasesList">
    <mat-autocomplete #PhasesList="matAutocomplete" (optionSelected)="phaseChanged($event)" [displayWith]="displayPhaseFn">
      <mat-option *ngFor="let Phase of ListPhases" [value]="Phase">
        {{ Phase.Title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"> Add Objective </button>

</form>

<table mat-table [dataSource]="ListObjectives" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="ObjectiveID">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let Objective"> {{Objective.ObjectiveID}} </td>
  </ng-container>
  <!-- Title Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let Objective"> {{Objective.Title}} </td>
  </ng-container>
  <!-- Description Column -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let Objective"> {{Objective.Description}} </td>
  </ng-container>
  <!-- Edit Column -->
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let Objective">
      <a mat-raised-button>
        <i class="fas fa-edit"></i>
      </a>
    </td>
  </ng-container>
  <!-- Delete Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Detele </th>
    <td mat-cell *matCellDef="let Objective">
      <a mat-raised-button color="warn">
        <i class="fas fa-times"></i>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="HeaderColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: HeaderColumns;"></tr>
</table>