<h1>Objectives</h1>
<form novalidate (ngSubmit)="openDialog()" [formGroup]="formGroup">
  <input type="hidden" #phaseID formControlName="id" required/>
  <mat-form-field class="AutocompleteProject">
      <input  type="text"  placeholder="Project" aria-label="Number" [formControl]="myControl" matInput [matAutocomplete]="ProjectList">
      <mat-autocomplete #ProjectList="matAutocomplete" (optionSelected)="projectChanged($event)"  autoActiveFirstOption>
        <mat-option  matTooltip={{option}} *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <mat-form-field class="AutocompletePhases">
    <input type="text" placeholder="Phase" aria-label="Number" matInput [matAutocomplete]="PhasesList"  [formControl]="myControlPhase">
    <mat-autocomplete #PhasesList="matAutocomplete" (optionSelected)="phaseChanged($event)" autoActiveFirstOption>
      <mat-option matTooltip={{optionPhase}} *ngFor="let optionPhase of filteredOptionsPhase | async" [value]="optionPhase">
        {{ optionPhase }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="div-controller ">
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"> Add Objective </button>
  </div>
</form>

<div class="table-content">
<table mat-table [dataSource]="ListObjectives" class="mat-elevation-z8">

  <!-- ObjectiveID Column -->
  <ng-container matColumnDef="ObjectiveID">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let Objective"> {{Objective.ObjectiveID}} </td>
  </ng-container>

  <!-- Completed Column -->
  <ng-container matColumnDef="Completed">
    <th mat-header-cell *matHeaderCellDef> Completed </th>
    <td mat-cell *matCellDef="let Objective"> {{Objective.Completed}} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let Objective"><div class="JustifyText"> {{Objective.Title}}</div> </td>
  </ng-container>
  <!-- Description Column -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let Objective">
      <div class="long-cell">
      {{Objective.Description}}
      </div>
    </td>
  </ng-container>
  <!-- Edit Column -->
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let Objective">
      <a mat-raised-button (click)="openDialogEdit(Objective)">
        <i class="fas fa-edit "></i>
      </a>
    </td>
  </ng-container>
  <!-- Delete Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let Objective">
      <a mat-raised-button color="warn" (click)="openDialogDelete(Objective)">
        <i class="fas fa-times "></i>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="HeaderColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: HeaderColumns;"></tr>
</table>
</div>
