// VARIABLES
$color-primary: rgb(6, 170, 214);
$color-dark: rgb(34, 45, 49);

.div-controller{
    width: 100%;
    display: inline-block;
    margin-bottom: 1%;
    button{
        float: right;
        @media screen and (max-width: 1024px) {
            float: left;
        }
    }
}


.mat-form-field {
  width: 47%;
  @media screen and(max-width: 960px) {
    width: 100%;
  }
}
//Data-Table
.table-content{
    position: relative;
    table{
        width: 100%;
        @media screen and (max-width: 1024px) {
            width: 100%;
            display: block;
            overflow-x: auto;
        }
        .mat-header-cell, .mat-cell {
            min-width: 120px;
          }
    }
}
