<form class="input-form " novalidate [formGroup]="binLocationForm">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Project" aria-label="Number" matInput [matAutocomplete]="ProjectList" formControlName="warehouseId">
    <mat-autocomplete #ProjectList="matAutocomplete" (optionSelected)="warehouseChanged($event)" 
    [displayWith]="displayWarehouseFn">
      <mat-option *ngFor="let Project of ListProjects" [value]="Project">
        {{ Project.Title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Phase" aria-label="Number" matInput  [matAutocomplete]="PhasesList" formControlName="warehouseTitle">
    <mat-autocomplete #PhasesList="matAutocomplete" (optionSelected)="FasewarehouseChanged($event)" [displayWith]="displayWarehouseStockFn">
      <mat-option *ngFor="let Phase of ListPhases" [value]="Phase">
        {{ Phase.Title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>







