<!-- Toolbar -->
<mat-toolbar class="mat-elevation-z4 menu-bar">
  <div class="content-toolbar" fxLayout="row">
    <div class="content-btn-menu" fxFlex="0 0 254px" fxFlex.xs="0 0 50px">
      <button mat-icon-button (click)="SideNavToggle()">
        <h3>
          <i class="fas fa-bars"></i>
        </h3>
      </button>
    </div>
    <div class="content-title" fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="ProjectTitle" routerLink="">ProjectLine</h3>
      <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item (click)="GoStart()">Logout</button>
        <button mat-menu-item></button>
      </mat-menu>
      <button class="user-name" mat-button [matMenuTriggerFor]="menu" *ngIf="!media.isActive('xs')">
        fbfranco29
        <i class="fas fa-circle"></i>
      </button>
    </div>
  </div>
</mat-toolbar>
