<div fxLayout="column" fxLayout.lt-md="row" fxFlex.lt-md="320px" fxLayoutAlign="center center">

  <div fxFlex="140px" fxFlex.lt-md="0px"></div>

  <div id="progress-circle" class="circle" fxFlex.gt-sm="320px" fxFlex.lt-md="180px"></div>

  <mat-card class="legend" fxFlex.lt-md="140px">

    <mat-card-title fxLayoutAlign="space-around center">
      <div class="completed"></div>
      <div fxFlex="60px">
        <p (click)="calculateProgress(1)">Completed</p>
      </div>
    </mat-card-title>

    <mat-card-title fxLayoutAlign="space-around center">
      <div class="pending"></div>
      <div fxFlex="60px">
        <p (click)="calculateProgress(2)">Pending</p>
      </div>
    </mat-card-title>

  </mat-card>

</div>