<div fxLayout="row wrap" fxLayoutAlign="end center">

  <div fxFlex="200px">
    <div id="progress-circle" class="circle"></div>
  </div>

  <div class="space"></div>

  <div fxFlex="200px">
    <mat-card class="legend">

      <mat-card-title fxLayoutAlign="space-between center">
        <div class="completed"></div>
        <div fxFlex="80%">
          <p>Completed</p>
        </div>
      </mat-card-title>

      <mat-card-title fxLayoutAlign="space-between center">
        <div class="pending"></div>
        <div fxFlex="80%">
          <p>Pending</p>
        </div>
      </mat-card-title>

    </mat-card>
  </div>

</div>