<table class="table table-sm table-hover">
  <thead>
    <th>Código</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Telephone</th>
  </thead>
  <tr *ngFor="let client of clientService.clientList">
    <td>{{client.IdClient}}</td>
    <td>{{client.Names}}</td>
    <td>{{client.LastName}}</td>
    <td>{{client.Telephone}}</td>
    <td>
      <a class="btn" (click)="showForEdit(client)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(client.IdClient)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>
