.sidenav-container {
  margin-top: 64px;
}
.main-container {
  margin-top: 64px;
    padding: 1em;
}
.content-sidenav {
  margin-top: 64px;
    background-color: rgb(34, 45, 49);
    width: 150px;
    color: white;
    box-shadow: -6px 0 12px -3px rgba(22, 21, 21, 0.87);
}
.content-sidenav span {
  cursor: pointer;
  padding: 10px;
}
.content-sidenav span:hover {
  display: block;
  box-shadow: 0 -6px 12px -3px rgba(22, 21, 21, 0.87);
}

