.sidenav-container {
  position: absolute;
  top: 50px;
  left: 0;
}
.main-container {
    padding: 1em;
}
.content-sidenav {
    background-color: rgb(34, 45, 49);
    width: 150px;
    color: white;
    box-shadow: -6px 0 12px -3px rgba(22, 21, 21, 0.87);
}
.content-sidenav span {
  cursor: pointer;
  padding: 10px;
}
.content-sidenav span:hover {
  display: block;
  box-shadow: 0 -6px 12px -3px rgba(22, 21, 21, 0.87);
}

.menu-bar {
  color: white;
  height: 50px;
  position: fixed;
  z-index: 100;
  background-color: rgb(6, 170, 214);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12);

  & .content-toolbar {
    width: 100%;
    height: 100%;

    & .content-btn-menu {
      width: 15px;
      height: 100%;
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.3);
    }
    & .content-title {
      width: 100%;
      padding: 0 10px;

      & .user-name {
        width: 80px;
        & i {
          color: rgb(89, 255, 56);
        }
      }
    }
  }
  & h3 {
    font-family: 'Shrikhand', cursive;
    line-height: 50px;
  }
}

