<div style="height: 50vh;">
 

  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav #sidenav fxLayout="column" mode="side" opened class="content-sidenav">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button>Close</a>
        <span><a routerLink="/Client">Client</a></span>
        <span>Client</span>
        <span>Client</span>
        <span>Client</span>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="main-container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
