.mat-card-content {
  max-width: 700px;
}
.mat-table {
  max-width: 700px;
  min-width: 700px;
}
.table-phases {
  max-height: 390px;
  overflow: auto;
}
.form-options {
  margin-bottom: 2em;
  margin-top: 1em;
  a{
    text-decoration: none;
  }
}
.date-content {
  & .mat-form-field {
    width: 47%;
    @media screen and(max-width: 960px) {
      width: 100%;
    }
  }
}
