<div class="Form-Container">
  <h1>{{titleForm}}</h1>
  <br>
  <form novalidate [formGroup]="projectFormGroup" (ngSubmit)="onSubmit()" fxLayout="column">
    <input type="hidden" formControlName="ProjectID">
    <div class="date-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.gt-xs="space-between start"
    fxLayoutAlign.md="space-between start">
      <!-- Title -->
      <mat-form-field>
        <input matInput maxlength="150" placeholder="Title" formControlName="Title" #Title required pattern="^[a-zA-Z0-9].*">
        <mat-hint align="end">{{Title.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="projectFormGroup.get('Title').errors" #Error>This Field is Required.</mat-error>
      </mat-form-field>
      <mat-form-field class="AutocompletePhases">
        <input required type="text" placeholder="Client" aria-label="Number" matInput [matAutocomplete]="UserId"  formControlName="UserId" pattern="^[a-zA-Z0-9].*">
        <mat-error *ngIf="!projectFormGroup.valid">This Field is Required.</mat-error>
        <mat-autocomplete #UserId="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let client of filteredCliet | async" [value]="client.FirstName">
            {{ client.FirstName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- Description -->
    <mat-form-field>
      <textarea matInput maxlength="1000" placeholder="Description" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5" #Description formControlName="Description"></textarea>
      <mat-hint align="end">{{Description.value?.length || 0}}/1000</mat-hint>
    </mat-form-field>
    <div class="date-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.gt-xs="space-between start"
      fxLayoutAlign.md="space-between start">
      <!-- Start Date -->
      <mat-form-field>
        <input matInput [max]="projectFormGroup.value.EndDate" [matDatepicker]="startdate" placeholder="Start Date"
        formControlName="StartDate" required>
        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
        <mat-datepicker #startdate disabled="false"></mat-datepicker>
      </mat-form-field>
      <!-- End Date -->
      <mat-form-field>
        <input matInput [min]="projectFormGroup.value.StartDate" [matDatepicker]="endDate" placeholder="Estimated End Date"
        formControlName="EndDate" required>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <a mat-raised-button color="primary" [disabled]="!projectFormGroup.valid" (click)="projectFormGroup.valid ? AddRows() : false">Add Phase</a>
    </div>
    <br>
    <div class="table-content" *ngIf="dataSource.data.length > 0">
      <h2>Phases</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--Phase Column -->
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title</th>
          <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
            <div class="long-cell"> {{element.Description}} </div>
          </td>
        </ng-container>
        <!-- start Date Column -->
        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element"> {{helperService.DateFormat(element.StartDate)}} </td>
        </ng-container>
        <!-- End date Column -->
        <ng-container matColumnDef="EndDate">
          <th mat-header-cell *matHeaderCellDef> Estimated End Date </th>
          <td mat-cell *matCellDef="let element"> {{helperService.DateFormat(element.EndDate)}} </td>
        </ng-container>
        <!-- Edit Column -->
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
            <a mat-raised-button (click)="openDialog(element)">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </ng-container>
        <!-- Delete Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <a mat-raised-button color="warn" (click)="DeleteRow(element)">
              <i class="fas fa-times"></i>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div fxLayout="row" fxLayoutGap="1em" class="form-options">
      <button mat-raised-button color="primary"  type="submit" [disabled]="!projectFormGroup.valid">Save</button>
      <a mat-raised-button color="warn" routerLink="/Project">Cancel</a>
    </div>
  </form>
</div>
