<h1 mat-dialog-title fxFlex.gt-xs="300px" fxLayoutAlign="center start">
  Edit Role
</h1>

<form novalidate [formGroup]="RoleFormGroup" (ngSubmit)="editRol()">
  <div mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput #Title maxlength="50" placeholder="System Name" formControlName="Title">
    </mat-form-field>
    <mat-form-field>
      <input matInput #Description maxlength="50" placeholder="Display Name" formControlName="Description" required pattern="^[a-zA-Z0-9].*">
    </mat-form-field>
    <div fxFlex="40px"></div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="center start" fxLayoutGap="1em">
    <button mat-raised-button color="primary" [disabled]="!RoleFormGroup.valid" type="submit">Save</button>
    <a mat-raised-button color="warn" (click)="onCancelClick()">Cancel</a>
  </div>
</form>