<!-- Toolbar -->
<mat-toolbar class="mat-elevation-z4 menu-bar">
  <div class="content-toolbar" fxLayout="row">
    <div class="content-btn-menu" fxFlex="0 0 184px" fxFlex.xs="0 0 50px">
      <button mat-button (click)="sidenav.toggle()">
        <h3>
          <i class="fas fa-bars"></i>
        </h3>
      </button>
    </div>
    <div class="content-title" fxLayout="row" fxLayoutAlign="space-between center">
      <h3>ProjectLine</h3>
      <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item>Logout</button>
        <button mat-menu-item></button>
      </mat-menu>
      <button class="user-name" mat-button [matMenuTriggerFor]="menu" *ngIf="!media.isActive('xs')">
        fbfranco29
        <i class="fas fa-circle"></i>
      </button>
    </div>
  </div>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="content-sidenav">
    <button class="user-name" mat-button [matMenuTriggerFor]="menu" *ngIf="media.isActive('xs')">
      fbfranco29 <i class="fas fa-circle"></i>
    </button>
    <button mat-button>
      &nbsp;<i class="fas fa-users"></i> User
    </button>    
    <mat-expansion-panel class="SubMenu-Styles" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="Sub-Title">
          <i class="fas fa-briefcase"></i> &nbsp;&nbsp; Project<i class="fas fa-angle-down toggle-icon"></i>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a routerLink="/Project"><i class="fas fa-project-diagram"></i> &nbsp;Management</a></li>
        <li><a><i class="fas fa-calendar-check"></i> &nbsp;&nbsp;&nbsp;Objetives</a></li>
      </ul>
    </mat-expansion-panel>
  </mat-sidenav>
  <!-- Content Page -->
  <mat-sidenav-content class="main-container" fxLayout="column">
    <mat-card class="content-router-outlet">
      <router-outlet></router-outlet>
    </mat-card>
    <!-- Footer -->
    <div class="footer">
      <span>Info-Arch &copy; {{currentYear}}</span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>