<form>

  <!-- <mat-card> -->
  <mat-card-header fxLayout="column">

    <span class="title">Add Objective</span>

  </mat-card-header>

  <hr>

  <mat-card-content fxLayout="column">

    <!-- Title -->
    <mat-form-field>

      <input matInput #Title name="Title" maxlength="150" placeholder="Title" name="Title" required>
      <mat-hint align="end">{{Title.value?.length || 0}}/150</mat-hint>
      <div *ngIf="Title.invalid && Title.touched">This Field is Required.</div>

    </mat-form-field>

    <br>
    <br>

    <!-- Description -->
    <mat-form-field>

      <textarea matInput maxlength="1000" placeholder="Description" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5"
        name="Description"></textarea>
      <mat-hint align="end">{{Description.value?.length || 0}}/1000</mat-hint>

    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="1em" class="form-options">

      <a mat-raised-button color="primary" [disabled]="!projectForm.valid" (click)="AddRows()">Add Phase</a>
      <button mat-raised-button color="accent" [disabled]="!projectForm.valid" type="submit">Save</button>
      <a mat-raised-button color="warn">Cancel</a>

    </div>

    <div *ngIf="confirmMessage == 1">

      <span>Successfull !</span>

    </div>

  </mat-card-content>
  <!-- </mat-card> -->

