<form class="objective-form">

  <!-- <mat-card> -->
  <mat-card-header fxLayout="column">

    <span class="title">Add Objective</span>

  </mat-card-header>

  <hr>

  <mat-card-content fxLayout="column">

    <!-- Title -->
    <mat-form-field>

      <input matInput #Title name="Title" maxlength="150" placeholder="Title" name="Title" required>

    </mat-form-field>

    <!-- Description -->
    <mat-form-field>

      <textarea matInput maxlength="1000" placeholder="Description" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="5"
        name="Description"></textarea>

    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="1em">

      <!-- Weight -->
      <mat-form-field fxFlex.sm="30%" fxFlexFill>

        <input matInput placeholder="Weight">

      </mat-form-field>

      <!-- Estimated -->
      <mat-form-field fxFlex.sm="30%" fxFlexFill>

        <input matInput placeholder="Estimated">

      </mat-form-field>

      <!-- Effort -->
      <mat-form-field fxFlex.sm="30%" fxFlexFill>

        <input matInput placeholder="Effort">

      </mat-form-field>

    </div>

    <br>

    <div fxLayout="row" fxLayoutGap="1em">

      <button mat-raised-button color="accent">Ok</button>
      <a mat-raised-button color="warn">Cancel</a>

    </div>

    <div>

      <span>Successfull !</span>

    </div>

  </mat-card-content>
  <!-- </mat-card> -->

</form>