//Buttons and Controllers
.div-controller{
    width: 100%;
    display: inline-block;
    margin-bottom: 1%;
    button{
        float: right;
        @media screen and (max-width: 1024px) {
            float: left;
        }
    }
}


//Data-Table
.table-content{
    table{
        width: 100%;
        @media screen and (max-width: 1024px) {
            width: 100%;
            display: block;
            overflow-x: auto;
        }

        .mat-header-cell, .mat-cell, {
            min-width: 120px;
          }

/*         .mat-column-Active,
        .mat-column-Edit,
        .mat-column-Delete {
            min-width: 10px;
            max-width: 60px;

        } */
          
    }
}
