.div-Container{
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 12px 11px 11px -10px rgba(99,96,99,1);
    -moz-box-shadow: 12px 11px 11px -10px rgba(99,96,99,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1%;
}
h1{
    text-align: center;
}
#AutocompleteProject{
    width: 30%;
   
}