// VARIABLES
$color-primary2: rgb(6, 170, 214);
$color-dark: rgb(34, 45, 49);
$color-primary:#174056;
$color-header: #00313C;

.div-Container{
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 12px 11px 11px -10px rgba(99,96,99,1);
    -moz-box-shadow: 12px 11px 11px -10px rgba(99,96,99,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1%;
}
h1{
    text-align: center;
}
#AutocompleteProject{
    width: 45%;

}

.VivaTimeline dl dt{
    background: $color-header;
    font-size: 16px;
    width: 160px;
    height: 65px;
    padding-top: 10px;
}
.VivaTimeline dl dd .time{
    color: $color-primary;
    font-size: 15px;
    font-weight: bold;
    margin-top: -5px;
}
.VivaTimeline dl dd.pos-right .time{
    margin-left: -103px;
}

@media screen and (max-width: 767px) {
    .VivaTimeline dl dt{
        margin: 0 12px 30px;
    }
    .VivaTimeline dl dd .time{
        padding: 0;
    }
    .VivaTimeline dl dd.pos-right .time{
        margin-left: -10px;
    }
    .VivaTimeline dl dd.pos-left .time{
        margin-left: -10px;
    }
    
}

/*Autor: Bismarck Franco*/
.project-title {
  font-size: 2.1em;
  color: $color-primary;
  font-weight: bold;
}
.vertical-line::before {
  width: 5px;
  background-color: $color-primary2;
}

.fas, .far, .fa {
  color: green;
  margin-right: 1em;
  padding-top: 3px;
}

.objectives-list {
  list-style: none;
  padding: 0 1em;
  text-indent: 0;
  display: flex;
  flex-direction: row;
}
