<h1 style="text-align: left">Project Tracking</h1>

<div class="div-Container">
  <mat-form-field id="AutocompleteProject">
    <input type="text" (change)="inputEmpty($event)" placeholder="Project" aria-label="Number" [formControl]="myControl" matInput
      [matAutocomplete]="ProjectList">
    <mat-autocomplete #ProjectList="matAutocomplete" (optionSelected)="projectChanged($event)" autoActiveFirstOption>
      <mat-option matTooltip={{option}} *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<div *ngIf="Hide" fxLayout="row wrap" fxLayoutAlign="center center">

  <div>
    <app-progress [phasesProject]="PhaseModel"></app-progress>
  </div>

  <div class="VivaTimeline">
    <h1 class="project-title" LayoutAlign="center center">{{ DataProject.Title }}</h1>
    <dl class="vertical-line">
      <dt>Start Date
        <br>{{ helperService.DateFormat(DataProject.StartDate) }}</dt>
      <dd *ngFor="let Phase of PhaseModel; let i = index" [ngClass]="{'pos-right': i%2 != 0,'pos-left': i%2 == 0}" class="clearfix">
        <div class="circ"></div>
        <div class="time">{{Phase.StartDate | date: 'MM/dd/yyyy'}}
          <br>{{Phase.EndDate | date: 'MM/dd/yyyy'}}</div>
        <div class="events">
          <div class="events-header">{{Phase.Title}}</div>
          <div class="events-body">
            <div class="row">
              <div class="events-desc">
                <div class="slide-phase">
                  <h5 class="title-slide-phase"><i class="far fa-calendar-alt"></i>StartDate: <span>{{helperService.DateFormat(Phase.StartDate)}}</span></h5>
                  <h5 class="title-slide-phase"><i class="far fa-calendar-alt"></i>EndDate: <span>{{helperService.DateFormat(Phase.EndDate)}}</span></h5>
                  <div class="cnt-description-slide-phase">
                    <i class="fas fa-align-left"></i>
                    <h5 class="title-slide-phase">Description:</h5>
                    <p>{{Phase.Description}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="events-desc">
                <div class="objectives-list" *ngFor="let obj of Phase.Objectives">
                  <i [ngClass]="{'fa fa-check': obj.Completed == true, 'fas fa-circle': obj.Completed == false}"></i>
                  <p>{{obj.Title}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="events-desc">
                <vg-player class="video-demo">
                  <vg-overlay-play></vg-overlay-play>
                  <vg-buffering></vg-buffering>

                  <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>

                  <vg-controls>
                      <vg-play-pause></vg-play-pause>
                      <vg-playback-button></vg-playback-button>

                      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                      <vg-track-selector></vg-track-selector>
                      <vg-mute></vg-mute>
                      <vg-volume></vg-volume>

                      <vg-fullscreen></vg-fullscreen>
                  </vg-controls>

                  <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                      <source src="https://drive.google.com/file/d/0B_18NjgnT9y5b3NhN1pidHJER0k/view?usp=sharing" type="video/mp4">
                      <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
                      <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">

                      <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
                      <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es">
                  </video>
              </vg-player>
                <!-- <div>
                  <p>{{Phase.DemoUrl}}</p>
                </div> -->
              </div>
            </div>
          </div>
          <div class="events-footer">
          </div>
        </div>
      </dd>
      <dt>Estimated End Date
        <br>{{helperService.DateFormat(DataProject.EndDate) }}</dt>
    </dl>
  </div>

</div>