<div class="Form-Container">
  <h1>{{titleForm}}</h1>
  <br>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" fxLayout="column">
    <input type="hidden" name="UserID"  #UserID="ngModel" [(ngModel)]="userService.selectedUser.UserID">
    <!-- Name -->
    <mat-form-field>
      <input matInput maxlength="150" placeholder="Name" name="Name" #Name="ngModel" [(ngModel)]="userService.selectedUser.Name" pattern="^[a-zA-Z0-9].*" required>
      <mat-hint align="end">{{Name.value?.length || 0}}/150</mat-hint>
      <mat-error *ngIf="Name.invalid && Name.touched">This Field is Required.</mat-error>
    </mat-form-field>
    <!-- LastName -->
    <mat-form-field>
      <input matInput maxlength="1000" placeholder="Last Name" name="LastName" #LastName="ngModel" [(ngModel)]="userService.selectedUser.LastName" required>
      <mat-hint align="end">{{LastName.value?.length || 0}}/150</mat-hint>
      <mat-error *ngIf="LastName.invalid && LastName.touched">This Field is Required.</mat-error>
    </mat-form-field>

    <!-- Enterprise -->
    <mat-form-field>
      <input matInput maxlength="150" placeholder="Enterprise" name="Enterprise" #Enterprise="ngModel" [(ngModel)]="userService.selectedUser.Enterprise" pattern="^[a-zA-Z0-9].*" required>
      <mat-hint align="end">{{Enterprise.value?.length || 0}}/150</mat-hint>
      <mat-error *ngIf="Enterprise.invalid && Enterprise.touched">This Field is Required.</mat-error>
    </mat-form-field>

    <!-- Address -->
    <mat-form-field>
      <input matInput maxlength="150" placeholder="Address" name="Address" #Address="ngModel" [(ngModel)]="userService.selectedUser.Address" pattern="^[a-zA-Z0-9].*" required>
      <mat-hint align="end">{{Address.value?.length || 0}}/150</mat-hint>
      <mat-error *ngIf="Address.invalid && Address.touched">This Field is Required.</mat-error>
    </mat-form-field>

    <div class="date-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.gt-xs="space-between start"
      fxLayoutAlign.md="space-between start">

      <!-- Email -->
    <mat-form-field>
      <input   type="email" matInput maxlength="150" placeholder="Email" name="Email" #Email="ngModel" [(ngModel)]="userService.selectedUser.Email" pattern="^[a-zA-Z0-9].*" [email]="true" required>
      <mat-hint align="end">{{Email.value?.length || 0}}/150</mat-hint>
      <mat-error *ngIf="Email.invalid">Please enter a valid email address.</mat-error>

      
    </mat-form-field>

      <!-- Role -->
      <mat-form-field>
        <mat-select placeholder="Select Role" [(ngModel)]="selectedValue" name="RoleID" required>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>


    <br>
    <mat-checkbox name="Status" #Status [(ngModel)]="userService.selectedUser.Status" color="primary">Active</mat-checkbox>

    <br>
    <div fxLayout="row" fxLayoutGap="1em" class="form-options">
      <button mat-raised-button color="primary" [disabled]="!userForm.valid" type="submit">Save</button>
      <a mat-raised-button color="warn" routerLink="/User">Cancel</a>
    </div>
  </form>
</div>