<div class="Form-Container">
  <h1>{{titleForm}}</h1>
  <br>
  <form novalidate *ngIf="registrationFormGroup" [formGroup]="registrationFormGroup" (ngSubmit)="submitUsers()" fxLayout="column">

    <!-- UserID -->
    <div>
      <input type="hidden" formControlName="UserID">
    </div>

    <div class="date-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.gt-xs="space-between start"
      fxLayoutAlign.md="space-between start">

      <!-- First Name -->
      <mat-form-field>
        <input matInput maxlength="150" placeholder="First Name *" formControlName="FirstName">
        <mat-error *ngIf="registrationFormGroup.get('FirstName').hasError('required')">This Field is Required.</mat-error>
        <mat-error *ngIf="registrationFormGroup.get('FirstName').hasError('pattern')">Insert a valid First Name.</mat-error>
      </mat-form-field>


      <!-- Last Name -->
      <mat-form-field>
        <input matInput maxlength="150" placeholder="Last Name *" formControlName="LastName">
        <mat-error *ngIf="registrationFormGroup.get('LastName').hasError('required')">This Field is Required.</mat-error>
        <mat-error *ngIf="registrationFormGroup.get('LastName').hasError('pattern')">Insert a valid Last Name.</mat-error>
      </mat-form-field>
    </div>

    <div class="date-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.gt-xs="space-between start"
      fxLayoutAlign.md="space-between start">

      <!-- Company -->
      <mat-form-field>
        <input matInput maxlength="150" placeholder="Company" formControlName="Company">
        <mat-error *ngIf="registrationFormGroup.get('Company').hasError('pattern')">Insert a valid Company Name.</mat-error>
      </mat-form-field>

      <!-- Role -->
      <mat-form-field>
        <mat-select placeholder="Select Role *" formControlName="RoleID">
          <mat-option *ngFor="let role of ListRole" [value]="role.RoleID">
            {{role.Description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registrationFormGroup.get('RoleID').hasError('required')">Please select a Role.</mat-error>
      </mat-form-field>

    </div>

    <!-- Address -->
    <mat-form-field>
      <input matInput maxlength="150" placeholder="Address" formControlName="Address">
      <mat-error *ngIf="registrationFormGroup.get('Address').hasError('pattern')">Insert a valid Address Name.</mat-error>
    </mat-form-field>

    <div class="date-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.gt-xs="space-between start"
      fxLayoutAlign.md="space-between start">

      <!-- Phone -->
      <mat-form-field>
        <input type="tel" matInput maxlength="20" placeholder="Phone" formControlName="Phone">
        <!-- +(123)123-456-7890  -->
        <mat-error *ngIf="registrationFormGroup.get('Phone').hasError('pattern')">Please enter a valid Phone number.</mat-error>
      </mat-form-field>


      <!-- Mobile -->
      <mat-form-field>
        <input matInput maxlength="20" placeholder="Mobile" formControlName="Mobile">
        <mat-error *ngIf="registrationFormGroup.get('Mobile').hasError('pattern')">Please enter a valid Mobile number.</mat-error>
      </mat-form-field>
    </div>

    <!-- Email -->
    <mat-form-field>
      <input type="email" matInput maxlength="150" placeholder="Email *" formControlName="Email">
      <mat-error *ngIf="registrationFormGroup.get('Email').hasError('required')">This Field is Required.</mat-error>
      <mat-error *ngIf="registrationFormGroup.get('Email').hasError('email')">Please enter a valid email address.</mat-error>
      <mat-error *ngIf="registrationFormGroup.get('Email').hasError('emailUnique')">The email already exists.</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field [formGroup]="PasswordFormGroup">
      <input matInput type="password" matInput maxlength="25" placeholder="{{ placeholderPassword }}" formControlName="Password">
      <mat-error *ngIf="PasswordFormGroup.get('Password').hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="PasswordFormGroup.get('Password').hasError('pattern')">Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters.</mat-error>
    </mat-form-field>

    <!-- ConfirmPassword -->
    <mat-form-field [formGroup]="PasswordFormGroup">
      <input matInput type="password" matInput maxlength="25" placeholder="{{ placeholderConfirmPass }}" formControlName="ConfirmPassword"
        [errorStateMatcher]="parentErrorStateMatcher">
      <mat-error *ngIf="PasswordFormGroup.get('ConfirmPassword').hasError('required')">Repeat password is required</mat-error>
      <mat-error *ngIf="(PasswordFormGroup.get('ConfirmPassword').value !== PasswordFormGroup.get('Password').value) && PasswordFormGroup.get('ConfirmPassword').value !== ''">Password does not match</mat-error>
    </mat-form-field>
    <br>

    <mat-checkbox formControlName="Active" color="primary">Active</mat-checkbox>

    <br>
    <div fxLayout="row" fxLayoutGap="1em" class="form-options">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registrationFormGroup.valid" type="submit">Save</button>
      <a mat-raised-button color="warn" routerLink="/Users">Cancel</a>
    </div>
  </form>
</div>