//Buttons and Controllers
.div-controller{
    width: 100%;
    display: inline-block;
    button{
        float: right;
        @media screen and (max-width: 1024px) {
            float: left;
        }
    }
}
//Data-Table
.table-content{
    position: relative;
    table{
        width: 100%;
        @media screen and (max-width: 900px) {
            width: 100%;
            display: block;
            overflow-x: auto;
        }
    }
    td{
        margin: 0;
        padding: 12px;
    }
    .long-cell{
        width: 100%;
        max-height:120px;
        overflow-y: auto;
        text-align: justify;
        padding: 10px;
        max-width: 850px;
    }
    .JustifyText{
        text-align: justify;
        max-height:120px;
        overflow-y: auto;
        max-width: 240px;
    }
}
