<h1>Projects List</h1>

<div class="div-controller">
    <a routerLink="/Project/Add"><button mat-raised-button color="primary"> Add Project</button></a>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ProjectID Column -->
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>
  <!-- StartDate Column -->
  <ng-container matColumnDef="StartDate">
    <th mat-header-cell *matHeaderCellDef> StartDate </th>
    <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
  </ng-container>
  <!-- EstimateDate Column -->
  <ng-container matColumnDef="EstimateDate">
    <th mat-header-cell *matHeaderCellDef> EstimateDate </th>
    <td mat-cell *matCellDef="let element"> {{element.EstimateDate}} </td>
  </ng-container>
  <!-- Edit Column -->
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"> {{element.Edit}} </td>
  </ng-container>
  <!-- Status Column -->
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="HeaderColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: HeaderColumns;"></tr>
</table>