<div class="container">
    <mat-card fxFlex.gt-xs="400px">
        <mat-card-header fxLayoutAlign="center start">
            <mat-card-title>
            </mat-card-title>
            <div *ngIf="isLoginError" style="color: red; margin-bottom: 10px;" class="red-text center error-message">
                <i class="material-icons">error</i> Login failed. Invalid email or password supplied.
            </div>
        </mat-card-header>
        <form novalidate [formGroup]="userFormGroup" (ngSubmit)="submitLogin()">
            <mat-card-content mat-dialog-content fxLayout="column">
                <mat-form-field appearance="outline">
                    <input type="email" matInput #Email placeholder="Email" maxlength="25" formControlName="Email" (focus)="ChangeStateVariable()">
                    <mat-icon matSuffix>
                        <i class="fas fa-user" hide=true></i>
                    </mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" required>
                    <input matInput #Password placeholder="Password" maxlength="25" type="password" (focus)="ChangeStateVariable()" formControlName="Password" pattern="^[a-zA-Z0-9].*">
                    <mat-icon matSuffix>
                        <i class="fas fa-unlock-alt" hide=true></i>
                    </mat-icon>
                </mat-form-field>
            </mat-card-content>
            <div fxLayout="row" fxLayoutGap="1em">
                <button [disabled]="!userFormGroup.valid" mat-raised-button color="primary" type="submit">Login</button>
            </div>
        </form>
    </mat-card>
</div>
