<!-- <body> -->
  <div class="container">
      <mat-card fxFlex.gt-xs="400px">
          <mat-card-header fxLayoutAlign="center start">
              <mat-card-title>
              </mat-card-title>
          </mat-card-header>
                  <form novalidate [formGroup]="userFormGroup"  (ngSubmit)="submitUser()">
              <mat-card-content mat-dialog-content fxLayout="column">
                  <mat-form-field appearance="outline">
                      <input matInput #Username placeholder="Username" maxlength="25" required pattern="^[a-zA-Z0-9].*" formControlName="Username">
                      <mat-icon matSuffix>
                          <i class="fas fa-user" hide=true></i>
                      </mat-icon>
                      <mat-hint align="end">{{Username.value?.length || 0}}/25</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" required>
                      <input matInput #Password placeholder="Password" maxlength="25" type="password" formControlName="Password" required pattern="^[a-zA-Z0-9].*">
                      <mat-icon matSuffix>
                          <i class="fas fa-unlock-alt" hide=true></i>
                      </mat-icon>
                      <mat-hint align="end">{{Password.value?.length || 0}}/25</mat-hint>
                  </mat-form-field>
              </mat-card-content>
              <div fxLayout="row" fxLayoutGap="1em">
                  <button mat-raised-button color="primary"  type="submit">Login</button>
              </div>
          </form>
      </mat-card>
  </div>
<!-- 
</body> -->