.dialogdemoBasicUsage #popupContainer {
  position: relative;
  }
  
  .container{
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  }
  
  #login-dialog {
  max-width: 90%;
  width: 500px;
  }
  img{
  height: 150px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .mat-card{
  width: 333px;
  height: 285px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .form-row{
  display: flex;
  }
  .form-row input{
  flex: 1;
  }
  .fa-exclamation-circle:before {
  content: "\f06a";
  font-size: 13px;
  float: left;
  }
  .classMessage{
  color: red;
   margin-bottom: 10px;
   font-size: 12px;
  }